*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
td {
    box-shadow: 1px 1px 3px black;
    padding: 10px;
    border-radius: 8px;
    background-color: lightgray;
    margin: 1010px;
  }
body{
    display: flex;
    height: 100%;
    margin: 0;


}
#Esquerda{
padding: 20px;

width: 50%;
min-height: 100vh;
background-color: lightgray;
box-sizing: border-box;
}
#Direita{
    width: 50%;
    padding: 20px;
    
    background-color: white;
}
.botoes{
    border: none;
    background: none;

}
.botoes:hover{
    cursor: pointer;
}
        /* Estilo para a imagem pequena */
        .small-image {
            width: 10vh;
            cursor: pointer;
            position: absolute;
            bottom: 20px;
            border-radius: 8px;
        }

        /* Estilo do modal (inicialmente escondido) */
        .modal {
            display: none; /* Escondido por padrão */
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.8);
            padding-top: 60px;
        }

        /* Estilo do conteúdo do modal */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        /* Estilo do botão de fechar */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #fff;
            font-size: 40px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
